Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      # blocks commits to master/main
      - id: no-commit-to-branch
        name: Block commits to main branch

  # lint Dockerfile
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts|vue)$
        language: system
        types: [text]

      - id: prettier
        name: Lint files with Prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.(js|ts|vue)$
        language: system
        types: [text]

🔖 release 1.10.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  4b66d3439240f681230c457d9d07c6ab87ecff9e
Due: prettier

🐛 fix pie chart label positions
  src/front-end/scripts/views/story/actions.vue
  src/front-end/scripts/views/story/piechart.vue
  src/front-end/styles/index.less
Due: eslint, prettier

🔖 release 1.10.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  486acf9678b8870d8bf406f2643daa3f7878469c
Due: prettier

♿️ more accessible colors in dark mode
  src/front-end/styles/index.less
Due: prettier

♿️ accessible colors for light mode
  src/front-end/styles/index.less
Due: prettier

✨ confirmation for owner reveal
  src/front-end/scripts/views/story/actions.vue
Due: eslint

🔖 release 1.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  85b884b05773e35d408c7f2059c83fcaa487f92f
Due: prettier

🔒️ bump tar and semantic-release
  package-lock.json
  package.json
Due: prettier

🔖 release 1.11.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  9bf4f41215fc567dabe990da35ffa60f525e63f1
Due: prettier

🚚 scripts -> app
  src/front-end/app/app.vue
  src/front-end/app/components/darkmode.vue
  src/front-end/app/components/toggle.vue
  src/front-end/app/constants.ts
  src/front-end/app/index.ts
  src/front-end/app/remult.ts
  src/front-end/app/router.ts
  src/front-end/app/store/index.ts
  src/front-end/app/store/session.ts
  src/front-end/app/store/story.ts
  src/front-end/app/store/types.ts
  src/front-end/app/views/home.vue
  src/front-end/app/views/home/newstory.vue
  src/front-end/app/views/home/profile.vue
  src/front-end/app/views/story.vue
  src/front-end/app/views/story/actions.vue
  src/front-end/app/views/story/estimate.vue
  src/front-end/app/views/story/participants.vue
  src/front-end/app/views/story/piechart.vue
  src/front-end/index.html
  src/modules.d.ts
  test/front-end/views/home.test.ts
  test/front-end/views/story.test.ts
Due: eslint, prettier

👷 update fly autosuspend option
  fly.toml
Due: prettier

⬆️ move to node 20
  .nvmrc
  Dockerfile
  fly.toml
  package.json
Due: prettier

✅ alter tests
  test/front-end/views/home.test.ts
Due: eslint

✅ move vitest config file
  package.json
  test/front-end/vitest.config.ts
Due: eslint, prettier

🔒️ npm audit fix
  package-lock.json
Due: prettier

✨ styled html dialog component
  .eslintrc.json
  src/front-end/app/app.vue
  src/front-end/app/components/darkmode.vue
  src/front-end/app/components/dialogs.vue
  src/front-end/app/views/home/profile.vue
  src/front-end/app/views/story/actions.vue
  src/front-end/styles/index.less
Due: eslint, prettier

🔖 release 1.11.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  0cee52248ef86db2cea91b39a3953ac643e08248
Due: prettier

💚 default host 0.0.0.0
  Dockerfile
  src/back-end/index.ts
Due: eslint, prettier

✨ styled html dialog component (#127)
  .eslintrc.json
  src/front-end/app/app.vue
  src/front-end/app/components/darkmode.vue
  src/front-end/app/components/dialogs.vue
  src/front-end/app/views/home/profile.vue
  src/front-end/app/views/story/actions.vue
  src/front-end/styles/index.less
Due: eslint, prettier

🔖 release 1.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  90ff0349d358b5f9331e64c83bba07e515c04039
Due: prettier

🐛 hide icons in dialogs from screen readers
  src/front-end/app/components/dialogs.vue
Due: eslint

🔖 release 1.12.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  fa0395e388b55a87ee35aeadba46efa5bb809240
Due: prettier

🔨 move vite build options into config file
  package.json
  src/front-end/vite.config.ts
Due: eslint, prettier

✅ back-end tests
  .github/workflows/tests.yml
  package.json
  src/back-end/index.ts
  src/back-end/service.ts
  test/back-end/service.test.ts
  vitest.config.ts
Due: eslint, prettier

✅ back-end tests, add coverage (#128)
  .github/workflows/tests.yml
  package.json
  src/back-end/index.ts
  src/back-end/service.ts
  test/back-end/service.test.ts
  vitest.config.ts
Due: eslint, prettier

👷 coverage workflow
  .github/workflows/coverage.yml
Due: prettier

👷 move coverage to test workflow
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
Due: prettier

👷 export lcov report
  .github/workflows/tests.yml
  vitest.config.ts
Due: eslint, prettier

📝 coverage badge
  README.md
Due: prettier

🙈 update dockerignore
  .dockerignore
Due: prettier

🙈 ignore coverage
  .dockerignore
  .gitignore
Due: prettier

🙈 fix ignores
  .gitignore
Due: prettier

✅ include text coverage
  vitest.config.ts
Due: eslint
