Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      # blocks commits to master/main
      - id: no-commit-to-branch
        name: Block commits to main branch

  # lint Dockerfile
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts|vue)$
        language: system
        types: [text]

      - id: prettier
        name: Lint files with Prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.(js|ts|vue)$
        language: system
        types: [text]

✅ testing overhaul, add events tests
  package-lock.json
  package.json
  src/back-end/routes/events.ts
  test/back-end/routes/events.test.ts
  test/back-end/service.test.ts
  vitest.config.ts
Due: eslint, prettier

🔒️ upgrade remult, add checks to models
  package-lock.json
  package.json
  src/models/vote.ts
Due: eslint, prettier

🔖 release 1.12.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  e78623ccab750d96d20da8b3ceb3e0ed09151ada
Due: prettier

✅ darkmode component tests
  test/front-end/components/darkmode.test.ts
Due: eslint

💄 scope dialog css
  src/front-end/app/components/dialogs.vue
Due: eslint

💄 more space between footer links
  src/front-end/app/views/home.vue
Due: eslint

👷 revert to localhost default in service, broad IP in dockerfile
  Dockerfile
  src/back-end/service.ts
Due: eslint, prettier

👷 better use of build cache in dockerfile
  Dockerfile
  test/back-end/service.test.ts
Due: eslint, prettier

✅ add dialogs to home view tests
  test/front-end/views/home.test.ts
Due: eslint

✅ change use of expect in darkmode tests
  test/front-end/components/darkmode.test.ts
Due: eslint

✅ use direct comparison instead of truthy/falsy
  test/front-end/components/darkmode.test.ts
Due: eslint

✅ move Dialogs test to app component test suite
  test/front-end/app.test.ts
  test/front-end/views/home.test.ts
Due: eslint

✅ toggle test, specify type for checked prop
  src/front-end/app/components/toggle.vue
  test/front-end/components/toggle.test.ts
Due: eslint

✅ remove unnecessary mount functions from tests
  test/front-end/app.test.ts
  test/front-end/components/darkmode.test.ts
  test/front-end/components/toggle.test.ts
  test/front-end/views/story.test.ts
Due: eslint

✅ test "close" event listener for events route
  test/back-end/routes/events.test.ts
Due: eslint

✅ use toBe(true) instead of toBeTruthy() in events tests
  test/back-end/routes/events.test.ts
Due: eslint

✅ use expect from function rather than import
  test/back-end/routes/events.test.ts
Due: eslint

✅ initial dialogs component test (store module creation)
  test/front-end/components/dialogs.test.ts
Due: eslint

✨ disconnect eventsource after 10 minutes
  src/front-end/app/components/dialogs.vue
  src/front-end/app/views/story.vue
Due: eslint

🔖 release 1.13.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  4da75780501573d32bc398215dcedf3609fb19a8
Due: prettier

✨ disconnect eventsource for revealed story
  src/front-end/app/store/story.ts
Due: eslint

🔖 release 1.14.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  67bbe758ec1f7cab2a692b7cae7fb577dde7624d
Due: prettier

✅ test alert/confirm dialog actions
  src/front-end/app/components/dialogs.vue
  test/front-end/components/dialogs.test.ts
Due: eslint

💚 make commitlint files modules
  .commitlintparser.cjs
  .commitlintrc.cjs
Due: prettier

✅ confirmed/close dialog tests
  test/front-end/components/dialogs.test.ts
Due: eslint

🔒️ npm audit fix
  package-lock.json
  package.json
Due: prettier

🔖 release 1.14.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  2f62d8a5e0f68aeadda5d27825dab3ba31d41fe1
Due: prettier

💄 fix dark mode toggle right margin
  src/front-end/app/components/darkmode.vue
Due: eslint

✅ local expect in back-end/service.test.ts
  test/back-end/service.test.ts
Due: eslint

✅ back-end/server tests
  test/back-end/server.test.ts
  test/back-end/service.test.ts
Due: eslint

✅ back-end/service test refactor
  test/back-end/service.test.ts
Due: eslint

✅ back-end/routes/events tests refactor
  test/back-end/routes/events.test.ts
Due: eslint

✅ yet more test refactoring
  test/back-end/server.test.ts
  test/back-end/service.test.ts
Due: eslint

✅ remove unnecessary mocks file
  test/front-end/mocks.ts
  test/front-end/views/story.test.ts
Due: eslint

🐛 move updateStory to controller as BackendMethod
  src/back-end/routes/events.ts
  src/front-end/app/store/story.ts
  src/models/story.ts
  src/models/vote.ts
  test/back-end/routes/events.test.ts
Due: eslint

🔖 release 1.14.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier
