Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      # blocks commits to master/main
      - id: no-commit-to-branch
        name: Block commits to main branch

  # lint Dockerfile
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts|vue)$
        language: system
        types: [text]

      - id: prettier
        name: Lint files with Prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.(js|ts|vue)$
        language: system
        types: [text]

Notes added by 'git notes add'
  98e227cc840b224550ad6dbc2a5611ae7d9565c2
Due: prettier

♻️ encapsulate story vuex model in Story component
  src/front-end/app/store/index.ts
  src/front-end/app/store/session.ts
  src/front-end/app/store/story.ts
  src/front-end/app/store/types.ts
  src/front-end/app/views/story.vue
  src/front-end/app/views/story/actions.vue
  src/front-end/app/views/story/estimate.vue
  src/front-end/app/views/story/participants.vue
  src/front-end/app/views/story/types.ts
Due: eslint

🚚 move modules into app folder
  src/front-end/app/modules.d.ts
Due: eslint

♻️ allow:false for BackendMethod
  src/back-end/routes/events.ts
Due: eslint

✅ remove unnecessary unstubAllGlobals
  test/back-end/service.test.ts
Due: eslint

🔥 remove unused NARF_VERSION constant
  src/front-end/app/constants.ts
Due: eslint

✅ cronjobs and tasks tests
  src/back-end/cronjobs/purge.ts
  src/tasks/transform.ts
  test/back-end/cronjobs/purge.test.ts
  test/front-end/views/story.test.ts
  test/tasks/transform.test.ts
Due: eslint

♻️ path aliases
  src/back-end/routes/events.ts
  src/back-end/server.ts
  src/front-end/app/components/darkmode.vue
  src/front-end/app/components/dialogs.vue
  src/front-end/app/index.ts
  src/front-end/app/store/session.ts
  src/front-end/app/views/home.vue
  src/front-end/app/views/home/newstory.vue
  src/front-end/app/views/home/profile.vue
  src/front-end/app/views/story.vue
  src/front-end/app/views/story/estimate.vue
  src/front-end/app/views/story/participants.vue
  src/front-end/app/views/story/types.ts
  src/front-end/vite.config.ts
  test/back-end/cronjobs/purge.test.ts
  test/back-end/routes/events.test.ts
  test/back-end/server.test.ts
  test/back-end/service.test.ts
  test/front-end/app.test.ts
  test/front-end/components/darkmode.test.ts
  test/front-end/components/dialogs.test.ts
  test/front-end/components/toggle.test.ts
  test/front-end/views/home.test.ts
  test/front-end/views/story.test.ts
  test/tasks/transform.test.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier

♻️ fully encapsulate dialogs vuex module in Dialogs component
  src/front-end/app/components/dialogs.vue
  test/front-end/components/dialogs.test.ts
Due: eslint

♿️ move #main above user profile
  src/front-end/app/views/home.vue
  src/front-end/app/views/home/newstory.vue
Due: eslint

🚨 consistent case in Dockerfile
  Dockerfile
Due: prettier

🐛 return early on error during profile import
  src/front-end/app/views/home/profile.vue
Due: eslint

🔖 release 1.14.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  f071fb8298855525e714f9d8c83bc860c24e6bb1
Due: prettier

♻️ compulsively sorting things
  src/front-end/vite.config.ts
  tsconfig.json
Due: eslint, prettier

♻️ pruning
  src/front-end/app/components/darkmode.vue
  src/front-end/app/components/dialogs.vue
  src/front-end/app/components/toggle.vue
  src/front-end/app/views/story.vue
Due: eslint

🚚 move test files into src
  package.json
  src/back-end/cronjobs/purge.test.ts
  src/back-end/routes/events.test.ts
  src/back-end/server.test.ts
  src/back-end/service.test.ts
  src/front-end/app/app.test.ts
  src/front-end/app/components/darkmode.test.ts
  src/front-end/app/components/dialogs.test.ts
  src/front-end/app/components/toggle.test.ts
  src/front-end/app/views/home.test.ts
  src/front-end/app/views/story.test.ts
  src/tasks/transform.test.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, prettier

💡 remove unused eslint-disable
  src/front-end/app/components/dialogs.test.ts
Due: eslint

🚚 routes -> routes/index
  src/back-end/routes.ts
  src/back-end/routes/index.test.ts
  src/back-end/routes/index.ts
Due: eslint

♻️ use path alias for style imports
  src/front-end/app/app.vue
  src/front-end/app/views/home/newstory.vue
  src/front-end/app/views/home/profile.vue
  src/front-end/app/views/story.vue
  src/front-end/app/views/story/estimate.vue
  src/front-end/app/views/story/piechart.vue
Due: eslint

✅ reset mocks in routes/index.test
  src/back-end/routes/index.test.ts
Due: eslint

✅ cronjobs index tests
  src/back-end/cronjobs/index.test.ts
  src/back-end/index.test.ts
Due: eslint

✅ startup/shutdown tests
  src/back-end/service.test.ts
  src/back-end/service.ts
Due: eslint

♻️ move rollup and vue deps to dev block
  package-lock.json
  package.json
Due: prettier

♻️ move axios and buffer to dev dependencies
  package-lock.json
  package.json
Due: prettier

♻️ sort package.json top level
  package.json
Due: prettier

✅ newstory tests
  src/front-end/app/views/home/newstory.test.ts
  src/front-end/app/views/home/newstory.vue
Due: eslint

✅ profile component tests
  src/front-end/app/views/home/profile.test.ts
Due: eslint

✅ actions component tests
  src/front-end/app/views/story/actions.test.ts
Due: eslint

✅ estimate component tests
  src/front-end/app/views/story/estimate.test.ts
  src/front-end/app/views/story/estimate.vue
Due: eslint

✅ more profile tests
  src/front-end/app/views/home/profile.test.ts
Due: eslint

✅ participants component tests
  src/front-end/app/views/story/participants.test.ts
Due: eslint

✅ piechart component tests
  src/front-end/app/views/story/piechart.test.ts
Due: eslint

✅ unregister session mock in participants tests
  src/front-end/app/views/story/participants.test.ts
Due: eslint

👷 github composite action
  .github/action.yml
Due: prettier

👷 use composite action in workflows
  .github/workflows/checks.yml
  .github/workflows/tests.yml
Due: prettier

👷 use composite action in workflows (#131)
  .github/workflows/checks.yml
  .github/workflows/tests.yml
Due: prettier

👷 consistent use of quotes in yaml
  .github/action.yml
Due: prettier

👷 pass token through for semantic release
  .github/action.yml
  .github/workflows/release.yml
Due: prettier

👷 enforce 90% code coverage
  vitest.config.ts
Due: eslint
