Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      # blocks commits to master/main
      - id: no-commit-to-branch
        name: Block commits to main branch

  # lint Dockerfile
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.12.0
    hooks:
      - id: hadolint
        name: Lint Dockerfile with hadolint
        args: [--ignore, DL3048]

  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts|vue)$
        language: system
        types: [text]

      - id: prettier
        name: Lint files with Prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.(js|ts|vue)$
        language: system
        types: [text]

✅ unit testing prep, initial tests
  .github/workflows/tests.yml
  package-lock.json
  package.json
  src/front-end/scripts/constants.ts
  src/front-end/test/front-end/views/home.test.ts
  src/front-end/vitest.config.ts
  tsconfig.json
Due: eslint, prettier

🦺 coverage
  .gitignore
  package-lock.json
  package.json
Due: prettier

🚚 remove redundant folder name for front-end tests
  src/front-end/test/views/home.test.ts
Due: eslint

🚚 changed my mind about test folders :P
  package.json
  test/front-end/views/home.test.ts
  test/front-end/vitest.config.ts
  tsconfig.json
Due: eslint, prettier

✅ user profile details tests
  test/front-end/views/home.test.ts
Due: eslint

🧑‍💻 separate front/back-end vitest configs
  .gitignore
  package.json
  vitest.front-end.config.ts
Due: eslint, prettier

🔥 remove unnecessary tsconfig.node.json file
  tsconfig.json
  tsconfig.node.json
Due: prettier

🩹 fix transform task, add to scripts
  package.json
  src/tasks/transform.ts
Due: eslint, prettier

✅ story view tests
  test/front-end/mocks.ts
  test/front-end/views/story.test.ts
Due: eslint

✅ load/join tests for story view
  test/front-end/views/home.test.ts
  test/front-end/views/story.test.ts
Due: eslint

♻️ use $router property shortcut
  src/front-end/scripts/views/home/newstory.vue
Due: eslint

🧑‍💻 npm-run-all for task categories
  package-lock.json
  package.json
Due: prettier

🧑‍💻 globally disable console during tests
  test/front-end/views/home.test.ts
  test/front-end/views/story.test.ts
  vitest.front-end.config.ts
Due: eslint

📝 add vitest to readme
  README.md
Due: prettier

📝 terse instructions
  src/front-end/scripts/views/home.vue
Due: eslint

👷‍♂️ set minimum machines to 1
  fly.toml
Due: prettier

🧑‍💻 move vite to devDependencies
  package.json
Due: prettier

🧑‍💻 ditch node 16 dependency for semantic-release
  package.json
Due: prettier

📝 update live web app link in readme
  README.md
Due: prettier

💄 details spacing
  src/front-end/styles/index.less
Due: prettier

🐛 fix pie chart slice rotation
  src/front-end/scripts/views/story/piechart.vue
Due: eslint

🔖 release 1.9.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  b88731e5afe69a420172adf8c7e65f680293a6ec
Due: prettier

💚 bump memory of fly.io server to 512mb
  fly.toml
Due: prettier

🐛 don't add placeholder votes to revealed stories
  src/front-end/scripts/store/story.ts
Due: eslint

🔖 release 1.9.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  7c26fa9ba52b637fed76eabecd1a88dcfb293565
Due: prettier

⬆️ upgrade express
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  51b8b6e88715e12c1653dee4beeb50f85bd02eee
Due: prettier

✨ share button
  src/front-end/scripts/views/story/actions.vue
  src/front-end/styles/index.less
Due: eslint, prettier

🔖 release 1.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  ad5da95147d4d54c8503e7509163202d94d0bf3d
Due: prettier

👷 upgrade github actions
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: prettier

⬆️ fix ip vuln
  package-lock.json
  package.json
Due: prettier

🐛 disable reveal button while loading story
  src/front-end/scripts/views/story/actions.vue
Due: eslint

🔖 release 1.10.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  40714418d2fc0f693bd3307359bb6ce9699d7770
Due: prettier

🐛 async all the things
  src/front-end/scripts/store/story.ts
  src/front-end/scripts/views/story/actions.vue
  src/front-end/scripts/views/story/estimate.vue
Due: eslint
