Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: Lint files with ESLint
  args:
  - eslint
  - --fix
  entry: npx
  language: system

prettier:
  name: Lint files with Prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

🚨 fix hadolint warnings
  Dockerfile
Due: prettier

🧑‍💻 add prettier-plugin-toml
  package-lock.json
  package.json
Due: prettier

🧑‍💻 remove unnecessary type from eslint hook
  .pre-commit-config.yaml
Due: prettier

🧑‍💻 remove redundant pre-commit hook comments
  .pre-commit-config.yaml
Due: prettier

✨ loading indicator in story view
  src/front-end/scripts/components/heading.vue
  src/front-end/scripts/views/story.vue
Due: eslint

⚡️ set purge schedule to once a day, run on init
  src/back-end/cronjobs/purge.ts
Due: eslint

💄 dim disabled buttons
  src/front-end/styles/index.less
Due: prettier

✨ remember last used scale
  src/front-end/scripts/components/darkmode.vue
  src/front-end/scripts/components/newstory.vue
  src/front-end/scripts/components/profile.vue
  src/front-end/scripts/store/session.ts
  src/front-end/scripts/store/types.ts
Due: eslint

🔇 remove debug logging
  src/front-end/scripts/components/profile.vue
Due: eslint

🐛 fix dark mode toggle on profile import
  src/front-end/scripts/components/darkmode.vue
  src/front-end/scripts/store/session.ts
Due: eslint

🔖 release 1.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  a35f1c243db1131ed2c0f728b57360957570b391
Due: prettier

🩹 fix dark mode toggle visual ui swap on profile import
  src/front-end/scripts/components/darkmode.vue
  src/front-end/scripts/components/toggle.vue
Due: eslint

✨ link to release notes on homepage
  src/front-end/scripts/views/home.vue
Due: eslint

♻️ reorg components into view-based subfolders
  src/front-end/scripts/views/home.vue
  src/front-end/scripts/views/home/newstory.vue
  src/front-end/scripts/views/home/profile.vue
  src/front-end/scripts/views/story.vue
  src/front-end/scripts/views/story/actions.vue
  src/front-end/scripts/views/story/estimate.vue
  src/front-end/scripts/views/story/participants.vue
  src/front-end/scripts/views/story/piechart.vue
Due: eslint

🔖 release 1.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  4e1b846b147b6ab0605e552a72b8ae4990bc4786
Due: prettier

♿️ fix keyboard nav for dark mode toggle
  src/front-end/scripts/components/toggle.vue
  src/front-end/styles/index.less
Due: eslint, prettier

♿️ add aria-live=assertive to router wrapper
  src/front-end/scripts/app.vue
Due: eslint

♿️ fix keyboard keypress for toggle
  src/front-end/scripts/components/toggle.vue
Due: eslint

✨ skip to main content button
  src/front-end/scripts/app.vue
  src/front-end/scripts/views/home/newstory.vue
  src/front-end/scripts/views/story.vue
Due: eslint

♿️ hide decorative emoji from screen readers
  src/front-end/scripts/views/home.vue
  src/front-end/scripts/views/home/profile.vue
  src/front-end/scripts/views/story/actions.vue
  src/front-end/scripts/views/story/estimate.vue
  src/front-end/scripts/views/story/participants.vue
Due: eslint

♿️ tweak colors
  src/front-end/styles/index.less
Due: prettier

🔖 release 1.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  e07460dc0bca7af4a28c1e4339e6e5742fc1693f
Due: prettier

♿️ add story title screen reader hint
  src/front-end/scripts/views/story.vue
Due: eslint

📝 readme note re: complex nesting
  README.md
Due: prettier

💄 wrap miscellaneous homepage links in footer
  src/front-end/scripts/views/home.vue
Due: eslint

🩹 add missing plain a.btn selector to button styles
  src/front-end/styles/index.less
Due: prettier

💄 shorter class names, css cleanup
  src/front-end/index.html
  src/front-end/scripts/app.vue
  src/front-end/scripts/components/darkmode.vue
  src/front-end/scripts/components/toggle.vue
  src/front-end/scripts/index.ts
  src/front-end/scripts/views/home.vue
  src/front-end/scripts/views/home/newstory.vue
  src/front-end/scripts/views/home/profile.vue
  src/front-end/scripts/views/story.vue
  src/front-end/scripts/views/story/actions.vue
  src/front-end/scripts/views/story/estimate.vue
  src/front-end/scripts/views/story/participants.vue
  src/front-end/scripts/views/story/piechart.vue
  src/front-end/styles/index.less
Due: eslint, prettier

💄 restore footer spacing
  src/front-end/scripts/views/home.vue
Due: eslint

💄 fix version vertical offset
  src/front-end/scripts/views/home.vue
Due: eslint

🏗️ replace parcel with vite
  package-lock.json
  package.json
  src/back-end/index.ts
  src/front-end/index.html
  src/front-end/scripts/index.ts
  src/front-end/vite.config.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint, prettier

🏗️ replace parcel with vite (#102)
  package-lock.json
  package.json
  src/back-end/index.ts
  src/front-end/index.html
  src/front-end/scripts/index.ts
  src/front-end/vite.config.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint, prettier

📝 update readme with vite link
  README.md
Due: prettier

💚 fix Dockerfile for fly.io deployment
  Dockerfile
Due: prettier

⚡️ balance package.json dependencies
  Dockerfile
  package-lock.json
  package.json
Due: prettier

🩹 fix markers
  src/front-end/styles/index.less
Due: prettier

🚧 wip
  package.json
  src/back-end/index.ts
  src/front-end/prerender.ts
  src/front-end/scripts/constants.ts
  src/front-end/scripts/index.ts
Due: eslint, prettier

📝 remove typescript from readme
  README.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|ts|vue)$
  prettier: any file but: \.(js|ts|vue)$
