Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: Lint files with ESLint
  args:
  - eslint
  - --fix
  entry: npx
  language: system

prettier:
  name: Lint files with Prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

🔧 resolve outDir in vite.config.ts
  src/client/vite.config.ts
Due: eslint

🔖 release 1.14.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  04b830f719bc89cc48c2a9600ee804374dff9aa6
Due: prettier

🐛 fix body height
  src/client/styles/index.less
Due: prettier

🔖 release 1.14.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  cb6da3d8ddda40db6d1ecb48857aaacd1a8a3a74
Due: prettier

🐛 fix quick reveal failure, body height (for real this time)
  src/client/app/views/story/actions.vue
  src/client/styles/index.less
Due: eslint, prettier

🔖 release 1.14.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  7528ace46c3c6c07d18bb7cec90c66e8fefe642b
Due: prettier

🐛 OHMYGOD fix the body height issue already
  src/client/styles/index.less
Due: prettier

🔖 release 1.14.16
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  f73c4cfff1d2c988aa192eaeab57ee2db91b8e89
Due: prettier

💄 css variable for heading font size
  src/client/index.html
  src/client/styles/index.less
Due: prettier

💄 drop arial narrow font
  src/client/styles/index.less
Due: prettier

⚡️ remove vite module loader from output bundle
  src/client/vite.config.ts
Due: eslint

⚡️ inline favicon
  src/client/index.html
Due: prettier

♿️ remove aria-hidden from toggle labels
  src/client/app/components/toggle.vue
Due: eslint

✅ e2e test for share button
  cypress/e2e/story-lifecycle.cy.ts
  cypress/e2e/story-share.cy.ts
Due: eslint

🧑‍💻 add *.mjs to nano-staged config
  package.json
Due: prettier

💄 remove unused style
  src/client/styles/index.less
Due: prettier

👷 shorten docker entry point command
  Dockerfile
Due: prettier

👷 shorten docker entry point command (#143)
  Dockerfile
Due: prettier

🔖 release 1.14.17
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  4536ffdbf533e0508fd6c4a2a3b828d9e05de194
Due: prettier

👷 attest workflow
  .github/workflows/attest.yml
Due: prettier

🎨 split model test types into own file
  src/models/story.test.ts
  src/models/test.d.ts
  src/models/vote.test.ts
Due: eslint

👷 point attestation to src dir, not dist dir
  .github/workflows/attest.yml
Due: prettier

💄 tweak explanation steps
  src/client/app/views/home.vue
Due: eslint

🚀 avoid depot builder during fly.io deployment
  .github/workflows/deploy.yml
Due: prettier

✅ avoid function signature mismatch warnings when mocking request/response
  src/server/routes/events.test.ts
Due: eslint

✅ avoid vi.fn() where a spy is unnecessary
  src/server/routes/events.test.ts
Due: eslint

🙈 ignore cypress download folder
  .gitignore
Due: prettier

✅ combine story e2e specs into single file
  cypress/e2e/story-share.cy.ts
  cypress/e2e/story.cy.ts
Due: eslint

✅ user profile update e2e test
  cypress/e2e/profile.cy.ts
Due: eslint

👷 ignore output from server during e2e tests
  .github/workflows/checks.yml
Due: prettier

💚 fix cache handling in workflows
  .github/action.yml
Due: prettier

🔖 release 1.14.18
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  af6053631163dace5fb701d577eac4be366ff296
Due: prettier

🩹 base62 encode story IDs
  package-lock.json
  package.json
  src/models/story.ts
Due: eslint, prettier

♻️ reorg dependencies, trim build
  Dockerfile
  package-lock.json
  package.json
Due: prettier

Path conditions:
  eslint: any of: \.(js|ts|vue)$
  prettier: any file but: \.(js|ts|vue)$
