Repository haliphax/narf: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: Lint files with ESLint
  args:
  - eslint
  - --fix
  entry: npx
  language: system

prettier:
  name: Lint files with Prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

👷 move unit tests to checks workflow
  .github/workflows/checks.yml
  .github/workflows/tests.yml
Due: prettier

🚧 test PR
  test
Due: prettier

👷 remove references to dev branch in checks workflow
  .github/workflows/checks.yml
Due: prettier

♻️ alphabetize vitest config
  vitest.config.ts
Due: eslint

✅ use standard import in transform tests
  src/tasks/transform.test.ts
Due: eslint

✅ less hoisting in transform tests
  src/tasks/transform.test.ts
Due: eslint

✅ avoid importActual
  src/back-end/index.test.ts
  src/back-end/server.test.ts
Due: eslint

✅ extra app tests
  src/front-end/app/constants.test.ts
  src/front-end/app/index.test.ts
  src/front-end/app/remult.test.ts
  src/front-end/app/router.test.ts
Due: eslint

✅ darkmode settings reaction test
  src/front-end/app/components/darkmode.test.ts
Due: eslint

✅ story view/module tests
  src/front-end/app/views/story.test.ts
  src/front-end/app/views/story.vue
  src/front-end/app/views/story/module.test.ts
  src/front-end/app/views/story/module.ts
Due: eslint

👷 update fly.io environment url in deploy workflow
  .github/workflows/deploy.yml
Due: prettier

🐛 use app remult instance in newstory.vue
  src/front-end/app/views/home/newstory.test.ts
  src/front-end/app/views/home/newstory.vue
Due: eslint

🔖 release 1.14.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  60430517088a353d05f6ea022fdcc8272d776c05
Due: prettier

♻️ use alias imports in models
  src/models/story.ts
  src/models/vote.ts
Due: eslint

✅ story model tests
  src/models/story.test.ts
  src/models/story.ts
Due: eslint

✅ vote model tests
  src/models/vote.test.ts
Due: eslint

👷 add build check
  .github/workflows/checks.yml
Due: prettier

✅ add update controller check to vote model tests
  src/models/vote.test.ts
Due: eslint

✅ vote model validation tests
  src/models/vote.test.ts
Due: eslint

✅ remove extraneous undefined param defs
  src/models/story.test.ts
  src/models/vote.test.ts
Due: eslint

✅ encapsulate mockField
  src/models/story.test.ts
Due: eslint

✅ test refactoring
  src/models/story.test.ts
Due: eslint

👷 exclude test code from release/deploy
  .github/workflows/deploy.yml
  .releaserc.json
Due: prettier

👷 testspace integration
  .github/workflows/checks.yml
  vitest.config.ts
Due: eslint, prettier

👷 on second thought, leave release config alone
  .releaserc.json
Due: prettier

📝 readme reorg, add link to sqlite
  README.md
Due: prettier

✅ restore default (console) test report output
  vitest.config.ts
Due: eslint

📝 build framework => build system
  README.md
Due: prettier

🧑‍💻 vitest explorer recommendation
  .vscode/extensions.json
Due: prettier

✅ avoid overriding vuex modules in tests
  src/client/app/app.test.ts
  src/client/app/components/dialogs.vue
  src/client/app/views/story.test.ts
  src/client/app/views/story.vue
  src/client/app/views/story/actions.test.ts
  src/client/app/views/story/participants.test.ts
Due: eslint

♻️ use field validation event instead of throwing exception
  src/models/story.test.ts
  src/models/story.ts
  src/models/vote.test.ts
  src/models/vote.ts
Due: eslint

📝 add explicit test results/coverage links to readme
  README.md
Due: prettier

🧑‍💻 vitest vscode workspace settings
  .dockerignore
  .gitignore
  .vscode/settings.json
Due: prettier

👷 provide coverage data to testspace
  .github/workflows/checks.yml
  vitest.config.ts
Due: eslint, prettier

✅ test parameterization, use expect from import
  src/client/app/app.test.ts
  src/client/app/components/darkmode.test.ts
  src/client/app/components/dialogs.test.ts
  src/client/app/components/toggle.test.ts
  src/client/app/constants.test.ts
  src/client/app/index.test.ts
  src/client/app/remult.test.ts
  src/client/app/router.test.ts
  src/client/app/views/home.test.ts
  src/client/app/views/home/newstory.test.ts
  src/client/app/views/home/profile.test.ts
  src/client/app/views/story.test.ts
  src/client/app/views/story/actions.test.ts
  src/client/app/views/story/estimate.test.ts
  src/client/app/views/story/module.test.ts
  src/client/app/views/story/participants.test.ts
  src/client/app/views/story/piechart.test.ts
  src/models/story.test.ts
  src/models/vote.test.ts
  src/server/cronjobs/index.test.ts
  src/server/cronjobs/purge.test.ts
  src/server/index.test.ts
  src/server/routes/events.test.ts
  src/server/routes/index.test.ts
  src/server/server.test.ts
  src/server/service.test.ts
  src/tasks/transform.test.ts
Due: eslint

✅ reuse opts in model tests
  src/models/story.test.ts
  src/models/vote.test.ts
Due: eslint

✅ comment it.each arguments
  src/models/story.test.ts
  src/models/vote.test.ts
Due: eslint

💄 use browser default border color for lightmode buttons
  src/client/styles/index.less
Due: prettier

Path conditions:
  eslint: any of: \.(js|ts|vue)$
  prettier: any file but: \.(js|ts|vue)$
